{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}
    <section>
        <table style="text-align:center" width="110%" class="table">
            <tr>
                <th>STOCK</th>
                <th>QUANTITY</th>
                <th>PRICE</th>
                <th>EQUITY VALUE</th>
                <th>BUY/SELL</th>
            </tr>
            {% for stock in stocks%}
            <tr>
                <td>{{stock.stock}}</td>
                <td>{{stock["SUM(qty)"]}}</td>
                <td>{{stock.price | usd}}</td>
                <td>{{stock.value | usd}}</td>
                <td>
                <form action="/" method="post">
                    <input name="quantity" autofocus autocorrect="off" type="number" placeholder="Quantity">
                    <input name="stock" type="hidden" value="{{stock.stock}}">
                    <button name="transaction" value="buy" type="submit" class="button">BUY</button>
                    <button name="transaction" value="sell" type="submit" class="button">SELL</button>
                </form>
                </td>
            </tr>
            {% endfor %}
        </table>
    </section>
    <p>
        <br>
        <section>
            <table style="text-align:center" class="table" width="110%">
                <th>CASH BALANCE</th>
                <th>NET ASSET VALUE</th>
                <tr>
                    <td>{{balance | usd}}</td>
                    <td>{{net_assets | usd}}</td>
                </tr>
            </table>
        </section>

    </p>
{% endblock %}