<!DOCTYPE html>

<html lang="en">
    <head>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
        <link href="/static/styles.css" rel="stylesheet">
        <title>Birthdays</title>
    </head>
    <body>
        <div class="header">
            <h1>Birthdays</h1>
        </div>
        <div class="container">
            <div class="section">

                <h2>Add a Birthday</h2>
                <form action = "/" method = "post">
                    <tr>
                        <th>
                            <input autocomplete = "off" autofocus name="name" type="text" placeholder = "Name">
                        </th>
                        <th>
                            <input autocomplete = "off" autofocus name="month" type="number" placeholder = "Month">
                        </th>
                        <th>
                            <input autocomplete = "off" autofocus name="day" type="number" placeholder ="Day">
                        </th>
                        <th>
                            <button type = "submit">Submit</button>
                        </th>
                    </tr>
                </form>
            </div>

            <div class="section">

                <h2>All Birthdays</h2>
                <table>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Birthday</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- TODO: Loop through the database entries to display them in this table -->
                        {% for birthday in birthdays%}
                        <tr>
                            <td>{{birthday.name}}</td>
                            <td>{{birthday.month}}/{{birthday.day}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <footer>
            <form style = "text-align: centre" 0 action = "/delete" type = "hidden">
                <button type = "submit">DELETE ALL</button>
            </form>

        </footer>
    </body>
</html>
