{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
    <table class="table">
        <th>STATUS</th>
        <th>SYMBOL</th>
        <th>SALE/PURCHASE PRICE</th>
        <th>QUANTITY</th>
        <th>TIME</th>
        {% for purchase in purchases %}
            <tr>
                {% if purchase.price < 0 %}
                    <td>SOLD</td>
                {% else %}
                    <td>BOUGHT</td>
                {% endif %}
                <td>{{purchase.stock}}</td>
                <td>{{purchase.price | abs}}</td>
                <td>{{purchase.qty | abs}}</td>
                <td>{{purchase.date}}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}